name: Security Audit

on:
  # schedule:
    # - cron: '0 1 * * 1'
  workflow_dispatch:
  pull_request:
    paths:
      - '**/Cargo.toml'

jobs:
  audit:
    name: Security Audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install cargo-audit
        run: cargo install cargo-audit

      - name: Run security audit
        run: cargo audit
